section.contact
    .contact
        .input__name
            p 名前を入れるよ
        .input__adress
            p　アドレス入れるよ
        .input__youken
            p　用件を入れるよ
        .input__content
            p　内容を入れるよ