extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  .sample-icon
  | hello, world!
  include ./timer.pug
  include ./about.pug
  include ./member.pug
  include ./plans.pug
  include ./works.pug
  include ./contact.pug
  
