section.intro
    .intro__mein
        .intro__bg--left
            p 風景写真
        .intro__bg--right
            .intro__wrapper
                .intro__teamname
                    p Albis
                .intro__message
                    p 色aaaaaaaaaaaaaaaaaaaaaaaaa
                    p 々aaaaaaaaaaaaaaaaaaaaaaaaa
                    p 書aaaaaaaaaaaaaaaaaaaaaaaaa
                    p くaaaaaaaaaaaaaaaaaaaaaaaaa
                    p よaaaaaaaaaaaaaaaaaaaaaaaaa
                    p 。aaaaaaaaaaaaaaaaaaaaaaaaa
