section.member
    .member__title
        p member
    .member__wrapper--01
        .member__profile.member__profile--left
            .member__picture
                P 写真を入れる
            .menber__name
                p  Yuto Ishiko
            .member__message
                p 退職届を書かねば
            .member__sns
                .member__Twitter
                    .Twitter
                .member__Facebook
                    .Facebook
    .member__wrapper--02
        .member__profile.member__profile--right
            .member__picture
                P 写真を入れる
            .menber__name
                p  Kouhei Saruwatari
            .member__message
                p 生活リズムを直したい
            .member__sns
                .member__Twitter
                    .Twitter
                .member__Facebook
                    .Facebook
    .member__wrapper--03
        .member__profile.member__profile--left2
            .member__picture
                P 写真を入れる
            .menber__name
                p  Yuto
            .member__message
                p 退職届を書かねば
            .member__sns
                .member__Twitter
                    .Twitter
                .member__Facebook
                    .Facebook