section.plans
    .plans__wrapper
        .plans__wrapper--center
            p Plan
        .plans__wrapper--uleft
            p 左上の枠
        .plans__wrapper--dleft
            p 左下の枠
        .plans__wrapper--uright
            p 右上の枠
        .plans__wrapper--dright
            p 右下の枠