section.works
    .works__list
        .works__wrappe.works__wrapper--1
            .works__picture
                p 写真1
            .works__memo
                p 説明1
            .works__wrappe.works__wrapper--2
                p 写真2
            .works__memo
                p 説明2
            .works__wrappe.works__wrapper--3
                p 写真3
            .works__memo
                p 説明3
            .works__wrappe.works__wrapper--4
                p 写真4
            .works__memo
                p 説明4
        